<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- sample01 -->
	<bean id="messageBeanImpl" class="sample01.MessageBeanImpl">
		<constructor-arg>
			<value>딸기</value>
		</constructor-arg>
		<property name="cost">
			<value>5000</value>
		</property>
		<property name="qty" value="3"/>
	</bean>
	
	<!-- sample02 -->
	<bean id="calcAdd" class="sample02.CalcAdd">
		<constructor-arg value="25"/>
		<constructor-arg value="36"/>
	</bean>
	<bean id="calcMul" class="sample02.CalcMul">
		<property name="x" value="25"/>
		<property name="y" value="36"/>
	</bean>
	
	<!-- sample03 -->
 	<bean id="sungJukDTO" class="sample03.SungJukDTO">
		<property name="name" value="홍길동"/>
		<property name="kor" value="97"/>
		<property name="eng" value="100"/>
		<property name="math" value="95"/>
	</bean>
	<bean id="sungJukImpl" class="sample03.SungJukImpl">
		<constructor-arg ref="sungJukDTO"/>
	</bean>
	
	<!-- sample04 -->
	<bean id="fileOutputter" class="sample04.FileOutputter">
		<property name="filePath" value="C:/Spring/"/>
		<property name="fileName" value="result.txt"/>
	</bean>
	<bean id="messageBeanImpl2" class="sample04.MessageBeanImpl">
		<constructor-arg value="홍길동"/>
		<property name="phone" value="010-1234-5678"/>
		<property name="outputter" ref="fileOutputter"></property>	
	</bean>
	
	<!-- sample05 -->
	<bean id="helloSpring" class="sample05.HelloSpring"/>
	<bean id="sungJukInput" class="sample05.SungJukInput" scope="prototype">
		<property name="list" ref="arrayList"/>
		<property name="sungJukDTO" ref="sungJukDTO2"/>
	</bean>
	<bean id="sungJukOutput" class="sample05.SungJukOutput">
		<property name="list" ref="arrayList"/>
	</bean>
	<bean id="sungJukModify" class="sample05.SungJukModify">
		<property name="list" ref="arrayList"/>
	</bean>
	<bean id="sungJukDelete" class="sample05.SungJukDelete">
		<property name="list" ref="arrayList"/>
	</bean>
	
	<bean id="arrayList" class="java.util.ArrayList"/>
	
	<bean id="sungJukDTO2" class="sample05.SungJukDTO" scope="prototype"/>
	
</beans>
