<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- sample01 -->
	<bean id="messageBeanImpl" class="sample01.MessageBeanImpl">
		<constructor-arg>
			<value>딸기</value>
		</constructor-arg>
		<property name="cost">
			<value>5000</value>
		</property>
		<property name="qty" value="3"/>
	</bean>
	
	<!-- sample02 -->
	<bean id="calcAdd" class="sample02.CalcAdd">
		<constructor-arg value="25"/>
		<constructor-arg value="36"/>
	</bean>
	<bean id="calcMul" class="sample02.CalcMul">
		<property name="x" value="25"/>
		<property name="y" value="36"/>
	</bean>
	
	<!-- sample03 -->
	<!-- <bean id="sungJukDTO" class="sample03.SungJukDTO">
		<property name="name" value="홍길동"/>
		<property name="kor" value="97"/>
		<property name="eng" value="100"/>
		<property name="math" value="95"/>
	</bean>
	<bean id="sungJukImpl" class="sample03.SungJukImpl">
		<constructor-arg ref="sungJukDTO"/>
	</bean>
	 -->
	<!-- sample05 -->
	<bean id="sungJukDTO" class="sample05.SungJukDTO"/>
	<bean id="sungJukInput" class="sample05.SungJukInput"/>
	<bean id="sungJukOutput" class="sample05.SungJukOutput"/>
	<bean id="sungJukModify" class="sample05.SungJukModify"/>
	<bean id="sungJukDelete" class="sample05.SungJukDelete"/>
</beans>
