<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="imageboardSQL">
	<!-- 이미지 게시판 작성 -->
	<insert id="imageboardWrite" parameterType="imageboard">
		<!-- insert into imageboard values(seq_imageboard.nextval, #{imageId}, #{imageName}, #{imagePrice}, #{imageQty}, #{imageContent}, #{image1}, sysdate) -->
		insert into imageboard values(seq_imageboard.nextval, #{imageId}, #{imageName}, #{imagePrice}, #{imageQty}, #{imageContent}, #{image1}, sysdate, #{image2})
	</insert>
	<!-- 이미지 게시판 목록 -->
	<select id="imageboardList" parameterType="java.util.Map" resultType="imageboard">
		select * from
		(select rownum rn, tt.* from
		(select seq,imageid,imagename,imageprice,imageqty,imagecontent,image1 from imageboard order by seq desc)tt)
		where rn between #{startNum} and #{endNum}
	</select>
	<!-- 전체 이미지 게시글 수 -->
	<select id="getImageTotalA" parameterType="java.util.Map" resultType="int">
		select count(*) from imageboard
	</select>
	<!-- 이미지 게시글 보기 -->
	<select id="getImageboard" parameterType="int" resultType="imageboard">
		select * from imageboard where seq = #{seq}
	</select>
	<!-- 이미지 게시글 삭제 -->
	<delete id="imageboardDelete" parameterType="java.util.Map">
		delete from imageboard where seq in 
		<foreach collection="check" item="seq" index="i" open="(" separator="," close=")">
			<!-- #{check[i]} -->	
			#{seq}
		</foreach>
	</delete>
</mapper>